{#-
This file is the main template use in every page except the redoc and home page.
-#}
{% extends "base.html" %}
{% block announce %}
<!--This documentation is work in progress. For updates follow
<a href="https://twitter.com/wso2" target="_blank">
    <span class="twemoji twitter">
        <i class="fa-brands fa-square-twitter"></i>
        </svg>
    </span>
    <strong>Twitter</strong>
</a>
<!-- Add announcement here, including arbitrary HTML -->
{% endblock %}

{% block analytics %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0L7950XSLB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0L7950XSLB');
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-103065-9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-103065-9');
</script>

<!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
  w[l] = w[l] || []; w[l].push({
    'gtm.start':
      new Date().getTime(), event: 'gtm.js'
  }); var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
      'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-TSWTP6');</script>
<!-- End Google Tag Manager -->

<!-- Hotjar Tracking Code for https://apim.docs.wso2.com/ -->
<script>
  (function (h, o, t, j, a, r) {
    h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
    h._hjSettings = { hjid: 1000689, hjsv: 6 };
    a = o.getElementsByTagName('head')[0];
    r = o.createElement('script'); r.async = 1;
    r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
    a.appendChild(r);
  })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
</script>
<!-- End Google Tag Manager (noscript) -->

{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ 'assets/fonts/font-awesome.css' | url }}">
{% endblock %}

{% block content %}
{{ super() }}
<a href="#" class="cd-top text--replace js-cd-top">Top</a>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TSWTP6" height="0" width="0"
    style="display:none;visibility:hidden"></iframe></noscript>
{% endblock %}